* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

header, 
h1,
footer {
    text-align: center;
}

button,
.container-list p,
.container-list li img {
    cursor: pointer;
}

.container-logo img,
.container-primary h1,
.container-primary li img,
.container-btn button {
    margin-top: 50px;
}

.card-container{ 
    display: flex;
    flex-direction: column;
}

.container-list li img {
    width: 60%;
    border-radius: 10px;
}

.container-list p {
    margin-top: 15px;
    color: #808080;
}

.container-list {
    list-style: none;
    display: flex;
    text-align: center;
}

button {
    width: 200px;
    padding: 10px;
    background-color: #000000;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
}

button:hover {
    background-color: #ffffff;
    color: #000000;
    border: none;
    transition: 0.5s;
}

.card-container:hover  .img-index{
    border: 2px solid white; 
    transition: 0.5s;
}
.card-container:hover  .item-paragraph{ 
    color: white;
    transition: 0.5s;
}